Repository speedy-van/sv: changes, and which pre-commit hooks are due for each by the changed paths.
All: broken-link-check, lighthouse-check, schema-validation, seo-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: broken-link-check
        name: Check for broken links
        entry: node scripts/check-broken-links.js
        language: node
        files: \.(tsx?|jsx?|md|html)$
        pass_filenames: false
        args: [apps/web]
        
      - id: lighthouse-check
        name: Lighthouse performance check
        entry: bash -c 'cd apps/web && npm run performance:lighthouse'
        language: system
        files: \.(tsx?|jsx?|css|scss)$
        pass_filenames: false
        stages: [pre-push]
        
      - id: schema-validation
        name: Validate JSON-LD schemas
        entry: bash -c 'cd apps/web && npm run test:schema'
        language: system
        files: \.(tsx?|jsx?)$
        pass_filenames: false
        
      - id: seo-check
        name: SEO validation check
        entry: bash -c 'cd apps/web && npm run seo-check'
        language: system
        files: \.(tsx?|jsx?)$
        pass_filenames: false

feat: Complete driver system overhaul with unified earnings, admin controls, and mobile app improvements
  GOOGLE_ADS_PLAN.md
  REQUIREMENTS_CHECKLIST.md
  TECHNICAL_REPORT.md
  apps/web/public/robots.txt
  apps/web/src/__tests__/integration/earnings-flow.test.ts
  apps/web/src/__tests__/unit/driver-earnings-service.test.ts
  apps/web/src/app/(public)/about/updated-address.tsx
  apps/web/src/app/api/admin/routes/multi-drop/route.ts
  apps/web/src/app/api/admin/settings/pricing/config/route.ts
  apps/web/src/app/api/chat/messages/route.ts
  apps/web/src/app/api/chat/sessions/route.ts
  apps/web/src/app/api/driver/jobs/[id]/complete/route.ts
  apps/web/src/components/common/SEO.tsx
  apps/web/src/config/seo.ts
  apps/web/src/lib/services/driver-earnings-service.ts
  apps/web/src/lib/services/stripe-service.ts
  mobile/expo-driver-app/src/theme/colors.ts
  mobile/expo-driver-app/src/theme/index.ts
  mobile/ios-driver-app/Config/ThemeManager.swift
  mobile/ios-driver-app/Extensions/Color+Extensions.swift
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Add UK-compliant enterprise pricing system
  apps/web/src/lib/services/uk-compliant-pricing-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Enterprise SEO with 1000+ keywords per city
  ENTERPRISE_SEO_STRATEGY.md
  apps/web/next.config.performance.js
  apps/web/src/app/(public)/van-hire-near-me/page.tsx
  apps/web/src/app/api/booking/quick-quote/route.ts
  apps/web/src/components/booking/QuickBookingWidget.tsx
  apps/web/src/components/common/OptimizedImage.tsx
  apps/web/src/data/uk-cities.ts
  apps/web/src/lib/seo/keyword-generator.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Final system overhaul - Production ready
  FINAL_IMPLEMENTATION_REPORT.md
  apps/web/src/app/(public)/moving-furniture-fast/page.tsx
  apps/web/src/app/api/driver/jobs/[id]/complete-uk/route.ts
  apps/web/src/components/analytics/GoogleAnalytics.tsx
  apps/web/src/lib/seo/keyword-generator.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add comprehensive fixes summary report
  FIXES_SUMMARY.md
Due: broken-link-check

fix: CRITICAL - Resolve all financial and compliance issues
  CRITICAL_FIXES_APPLIED.md
  apps/web/src/app/api/admin/drivers/earnings/route.ts
  apps/web/src/app/api/driver/jobs/[id]/complete/route.ts
  apps/web/src/lib/services/driver-earnings-service.ts
  apps/web/src/lib/services/performance-tracking-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Remove duplicate currentEarning declaration
  apps/web/src/app/api/admin/drivers/earnings/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Add fallback values for Pusher config during build
  apps/web/src/lib/realtime/pusher-config.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Add fallback for Stripe config during build
  apps/web/src/lib/stripe.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Force dynamic rendering for landing pages to avoid build timeout
  apps/web/src/app/(public)/moving-furniture-fast/page.tsx
  apps/web/src/app/(public)/van-hire-near-me/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add comprehensive final delivery report
  FINAL_DELIVERY_REPORT.md
Due: broken-link-check

feat: Remove platform fee, add job completion with photos & signature
  apps/web/src/lib/services/driver-earnings-service.ts
  apps/web/src/lib/services/uk-compliant-pricing-service.ts
  mobile/expo-driver-app/src/screens/JobCompletionScreen.tsx
  mobile/ios-driver-app/ViewModels/JobCompletionViewModel.swift
  mobile/ios-driver-app/Views/Jobs/JobCompletionView.swift
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add final complete report with all changes
  FINAL_COMPLETE_REPORT.md
Due: broken-link-check

feat: Add moving-tips and checklist pages with SEO optimization
  apps/web/src/app/(public)/checklist/page.tsx
  apps/web/src/app/(public)/moving-tips/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Remove all duplicate old pricing code from 3 endpoints
  apps/web/src/app/api/driver/jobs/[id]/details/route.ts
  apps/web/src/app/api/driver/jobs/[id]/route.ts
  apps/web/src/app/api/driver/jobs/[id]/update-step/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Remove all platformFee references and update old percentages
  apps/web/src/app/api/admin/notify-drivers/route.ts
  apps/web/src/app/api/driver/dashboard/route.ts
  apps/web/src/app/api/driver/jobs/[id]/complete/route.ts
  apps/web/src/app/api/driver/jobs/available/route.ts
  apps/web/src/app/api/driver/jobs/my-jobs/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Remove ALL percentage-based driver pricing - use driverEarningsService only
  apps/web/src/app/api/admin/notify-drivers/route.ts
  apps/web/src/app/api/driver/dashboard/route.ts
  apps/web/src/app/api/driver/jobs/[id]/details/route.ts
  apps/web/src/app/api/driver/jobs/[id]/route.ts
  apps/web/src/app/api/driver/jobs/available/route.ts
  apps/web/src/app/api/driver/jobs/my-jobs/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add deep check complete report - all issues fixed
  DEEP_CHECK_COMPLETE_REPORT.md
Due: broken-link-check

feat: Add comprehensive E2E tests for iOS and Android driver apps
  mobile/expo-driver-app/.detoxrc.js
  mobile/expo-driver-app/e2e/jest.config.js
  mobile/expo-driver-app/e2e/multiDropRoute.e2e.test.ts
  mobile/expo-driver-app/e2e/singleOrder.e2e.test.ts
  mobile/ios-driver-app/Tests/E2E/MultiDropRouteE2ETest.swift
  mobile/ios-driver-app/Tests/E2E/SingleOrderE2ETest.swift
  test-all-apps.sh
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add comprehensive E2E testing and deployment readiness report
  FINAL_E2E_TESTING_REPORT.md
Due: broken-link-check

feat: SEO improvements - OG images, blog posts, sitemap automation, URL fixes
  apps/web/package.json
  apps/web/public/images/hero-van.jpg
  apps/web/public/og-image.jpg
  apps/web/public/og/og-booking.jpg
  apps/web/public/og/og-home.jpg
  apps/web/public/og/og-services.jpg
  apps/web/public/robots.txt
  apps/web/src/app/blog/cheap-man-and-van-near-me/page.tsx
  apps/web/src/app/blog/same-day-man-and-van/page.tsx
  apps/web/src/app/blog/student-moving-service/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Schema fixes - add aliases and missing fields to resolve 978 TypeScript errors
  packages/shared/prisma/schema.prisma
Due: none

feat: Remove all Vercel references and configure for Render.com deployment
  DEEP_CHECK_COMPLETE_REPORT.md
  DEPLOYMENT_GUIDE.md
  FINAL_COMPLETE_REPORT.md
  FINAL_DELIVERY_REPORT.md
  FIXES_SUMMARY.md
  TECHNICAL_REPORT.md
  apps/web/src/app/api/admin/routing/cron/route.ts
  apps/web/src/app/api/cron/expire-assignments/route.ts
  apps/web/src/lib/address-monitoring.ts
  apps/web/src/lib/cron/index.ts
  render.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Update all company addresses to Office 2.18, Hamilton
  apps/web/src/app/admin/settings/legal/page.tsx
  apps/web/src/app/api/invoice/generate/route.ts
  apps/web/src/app/contact/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Final verification and deployment documentation
  DEPLOYMENT_QUICKSTART.md
  FINAL_VERIFICATION_REPORT.md
  mobile/ios-driver-app/Models/Job.swift
  mobile/ios-driver-app/Services/NotificationService.swift
  mobile/ios-driver-app/Views/Jobs/EnhancedJobDetailView.swift
Due: broken-link-check

Add executive summary
  EXECUTIVE_SUMMARY.md
Due: broken-link-check

Add realistic Google Ads plan based on actual UK market data
  GOOGLE_ADS_REALISTIC_PLAN.md
Due: broken-link-check

Add comprehensive pricing analysis and recommendations
  PRICING_ANALYSIS_REPORT.md
Due: broken-link-check

Update pricing system: cap multipliers at 1.75x, reduce driver max to 70%, increase premium multipliers
  GOOGLE_BUSINESS_PROFILE_IMPLEMENTATION_GUIDE.md
  PRICING_UPDATES_CHANGELOG.md
  apps/web/public/images/gbp/executive_team.png
  apps/web/public/images/gbp/furniture-transport.png
  apps/web/public/images/gbp/glasgow-service.png
  apps/web/public/images/gbp/hero_banner.png
  apps/web/public/images/gbp/logo_premium.png
  apps/web/public/images/gbp/london-service.png
  apps/web/public/images/gbp/operations_excellence.png
  apps/web/public/images/gbp/premium_service.png
  apps/web/public/images/gbp/speedy-van-glasgow-moving.png
  apps/web/public/images/gbp/speedy-van-hero-banner.png
  apps/web/public/images/gbp/speedy-van-london-delivery.png
  apps/web/public/images/gbp/speedy-van-manchester-service.png
  apps/web/public/images/gbp/speedy_van_cover.png
  apps/web/public/images/gbp/speedy_van_executive_team.png
  apps/web/public/images/gbp/speedy_van_hero_banner.png
  apps/web/public/images/gbp/speedy_van_logo.png
  apps/web/public/images/gbp/speedy_van_logo_premium.png
  apps/web/public/images/gbp/speedy_van_operations_excellence.png
  apps/web/public/images/gbp/speedy_van_premium_service.png
  apps/web/public/images/gbp/speedy_van_service_1.png
  apps/web/public/images/gbp/speedy_van_service_2.png
  apps/web/public/images/gbp/speedy_van_team.png
  apps/web/src/__tests__/integration/earnings-flow.test.ts
  apps/web/src/__tests__/unit/driver-earnings-service.test.ts
  apps/web/src/app/(public)/areas/[slug]/page.tsx
  apps/web/src/app/(public)/areas/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/StructuredData.tsx
  apps/web/src/data/google-ads-config.ts
  apps/web/src/data/google-business-profile.ts
  apps/web/src/data/uk-service-areas.ts
  apps/web/src/lib/services/driver-earnings-service.ts
  apps/web/src/lib/services/dynamic-pricing-engine.ts
  apps/web/src/lib/services/google-posts-service.ts
  apps/web/src/lib/services/review-management-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Integrate dynamic pricing engine into booking luxury system
  BOOKING_LUXURY_PRICING_INTEGRATION.md
  apps/web/src/app/api/booking-luxury/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Implement unified pricing system for single orders and multi-drop routes
  UNIFIED_PRICING_SYSTEM.md
  apps/web/src/lib/services/dynamic-pricing-engine.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add intelligent multi-drop eligibility rules and return journey system
  MULTI_DROP_AND_RETURN_JOURNEY_RULES.md
  apps/web/src/lib/services/dynamic-pricing-engine.ts
  apps/web/src/lib/services/return-journey-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: implement intelligent pricing and routing system
  INTELLIGENT_PRICING_AND_ROUTING_SYSTEM.md
  apps/web/src/app/api/booking/check-multi-drop-eligibility/route.ts
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep.tsx
  apps/web/src/lib/services/intelligent-route-optimizer.ts
  apps/web/src/lib/services/multi-drop-eligibility-engine.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: add comprehensive pricing comparison analysis vs competitors
  PRICING_COMPARISON_ANALYSIS.md
Due: broken-link-check

feat: add comprehensive daily profit analysis for 10 orders and 10 routes
  DAILY_PROFIT_ANALYSIS.md
Due: broken-link-check

Add comprehensive order routing system analysis and admin panel development plan
  ORDER_ROUTING_SYSTEM_ANALYSIS_AND_ADMIN_PLAN.md
Due: broken-link-check

🚨 CRITICAL FIXES: Complete order routing system overhaul
  CRITICAL_FIXES_IMPLEMENTATION_REPORT.md
  apps/web/src/app/api/admin/analytics/performance/route.ts
  apps/web/src/app/api/admin/orders/pending/route.ts
  apps/web/src/app/api/admin/routes/[id]/edit/route.ts
  apps/web/src/app/api/admin/routes/active/route.ts
  apps/web/src/app/api/admin/routes/create/route.ts
  apps/web/src/app/api/admin/routes/suggested/route.ts
  apps/web/src/app/api/stripe/webhook/route.ts
  apps/web/src/lib/cron/auto-route-creation.ts
  apps/web/src/lib/cron/index.ts
  packages/shared/prisma/schema.prisma
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

📋 Add comprehensive error analysis report
  COMPREHENSIVE_ERROR_ANALYSIS.md
Due: broken-link-check

🚨 CRITICAL FIXES PART 2: Complete system overhaul
  apps/web/src/app/api/routes/[id]/earnings-preview/route.ts
  apps/web/src/lib/cron/auto-route-creation.ts
  apps/web/src/lib/services/driver-earnings-service.ts
  mobile/ios-driver-app/Models/Job.swift
  mobile/ios-driver-app/Models/Route.swift
Due: broken-link-check, lighthouse-check, schema-validation, seo-check
