Repository speedy-van/sv: changes, and which pre-commit hooks are due for each by the changed paths.
All: broken-link-check, lighthouse-check, schema-validation, seo-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: broken-link-check
        name: Check for broken links
        entry: node scripts/check-broken-links.js
        language: node
        files: \.(tsx?|jsx?|md|html)$
        pass_filenames: false
        args: [apps/web]
        
      - id: lighthouse-check
        name: Lighthouse performance check
        entry: bash -c 'cd apps/web && npm run performance:lighthouse'
        language: system
        files: \.(tsx?|jsx?|css|scss)$
        pass_filenames: false
        stages: [pre-push]
        
      - id: schema-validation
        name: Validate JSON-LD schemas
        entry: bash -c 'cd apps/web && npm run test:schema'
        language: system
        files: \.(tsx?|jsx?)$
        pass_filenames: false
        
      - id: seo-check
        name: SEO validation check
        entry: bash -c 'cd apps/web && npm run seo-check'
        language: system
        files: \.(tsx?|jsx?)$
        pass_filenames: false

Revert to Base64 token for driver login - production ready
  apps/web/package.json
  apps/web/src/app/api/driver/auth/login/route.ts
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Trigger rebuild: Regenerate Prisma Client for production
  trigger-rebuild.txt
Due: none

Add migration for phone field and production fix documentation
  FIX_PRODUCTION_DATABASE.md
  deploy-migrations.sh
Due: broken-link-check

Fix: Add missing dependencies for iOS build (react-native-worklets, react-native-webview)
  mobile/expo-driver-app/package.json
  pnpm-lock.yaml
  test-driver-jwt.ps1
Due: none

Fix TypeScript build error in performance analytics route - Remove references to non-existent totalDistanceMiles and totalDurationMinutes fields
  apps/web/public/sitemap-0.xml
  apps/web/src/app/api/admin/analytics/performance/route.ts
  apps/web/src/app/api/admin/routes/active/route.ts
  apps/web/src/app/api/admin/routes/route.ts
  apps/web/src/app/api/driver/routes/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Update iOS driver app icon with new branding
  apps/web/public/sitemap-0.xml
  mobile/expo-driver-app/assets/icon.png
  mobile/expo-driver-app/icon.png
Due: none

Fix iOS driver app FORBIDDEN error and motExpiry date validation - Add Bearer token authentication support to notifications endpoints - Fix motExpiry date format to ISO-8601 for Prisma compatibility
  apps/web/public/sitemap-0.xml
  apps/web/src/app/api/driver/notifications/read/route.ts
  apps/web/src/app/api/driver/notifications/route.ts
  apps/web/src/app/api/driver/settings/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Update sitemap after latest build
  apps/web/public/sitemap-0.xml
Due: none

Fix iOS driver app config - Remove duplicate root-level name property causing Expo build warning
  mobile/expo-driver-app/app.json
Due: none

feat: upgrade UK service coverage with interactive Mapbox map
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/app/booking-luxury/success/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/ServiceMapSection.tsx
  apps/web/src/styles/globals.css
  env.example
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: ensure admin welcome email uses normalized email address for consistency with database storage
  apps/web/src/app/api/admin/users/route.ts
  mobile/expo-driver-app/app.json
  mobile/expo-driver-app/eas.json
  mobile/expo-driver-app/src/config/design-system.ts
  mobile/expo-driver-app/src/config/icon-config.ts
  mobile/expo-driver-app/src/config/screen-config.ts
  mobile/expo-driver-app/src/navigation/MainTabNavigator.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: resolve admin orders undefined name error and remove white backgrounds from admin pages on mobile
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/orders/table.tsx
  apps/web/src/app/api/booking-luxury/route.ts
  apps/web/src/components/admin/AdminShell.tsx
  apps/web/src/components/shared/UnifiedNavigation.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: update Next.js start script to use dynamic PORT for Render deployment
  apps/web/package.json
  apps/web/public/sitemap-0.xml
Due: none

fix: resolve Prisma driver query issues - correct Route.driver to User relation access
  FIXES_SUMMARY_AR.md
  PRISMA_FIXES_REPORT.md
  apps/web/src/app/api/admin/routes/[id]/assign/route.ts
  apps/web/src/app/api/admin/routes/[id]/reassign/route.ts
  apps/web/src/app/api/admin/routes/active/route.ts
  apps/web/src/app/api/admin/routes/multi-drop/route.ts
  apps/web/src/lib/services/payout-processing-service.ts
  apps/web/src/lib/services/route-orchestration-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: resolve admin routes assignment and iOS integration issues
  ADMIN_ROUTES_IOS_FIXES.md
  apps/web/src/app/api/admin/routes/route.ts
  apps/web/src/app/api/driver/routes/[id]/decline/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: add real-time Pusher integration to iOS driver app
  IOS_APP_CRITICAL_FIXES.md
  mobile/ios-driver-app/Services/PusherService.swift
  mobile/ios-driver-app/ViewModels/DashboardViewModel.swift
  mobile/ios-driver-app/ViewModels/RoutesViewModel.swift
Due: broken-link-check

fix: use userId instead of driver.id for Pusher channel in route reassignment
  apps/web/src/app/api/admin/routes/[id]/reassign/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: upgrade driver dynamic pricing engine with full API integration
  DRIVER_PRICING_ENGINE_UPGRADE.md
  apps/web/src/app/api/admin/routes/[id]/reassign/route.ts
  apps/web/src/app/api/admin/routes/route.ts
  apps/web/src/app/api/driver/routes/[id]/earnings/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: complete iOS-Backend integration for route earnings and notifications
  IOS_BACKEND_INTEGRATION_AUDIT.md
  mobile/ios-driver-app/Config/AppConfig.swift
  mobile/ios-driver-app/Models/RouteEarnings.swift
  mobile/ios-driver-app/Services/RouteService.swift
Due: broken-link-check

fix: address autocomplete UI overlap and accuracy issues for iPhone 15-17
  ADDRESS_AUTOCOMPLETE_FIXES.md
  apps/web/src/components/address/LuxuryPostcodeAddressAutocomplete.tsx
  apps/web/src/lib/dual-provider-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: add Enterprise Pricing Engine detailed breakdown to Luxury Booking
  ENTERPRISE_PRICING_INTEGRATION.md
  apps/web/src/app/booking-luxury/components/PriceBreakdown.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: comprehensive admin API endpoints audit and documentation
  ADMIN_API_AUDIT_REPORT.md
  ADMIN_API_FINAL_AUDIT.md
  scripts/audit-admin-api.ts
  scripts/fix-admin-auth.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: add authentication to 13 unprotected admin API endpoints
  apps/web/src/app/api/admin/analytics/performance/route.ts
  apps/web/src/app/api/admin/cleanup-emails/route.ts
  apps/web/src/app/api/admin/email-security/route.ts
  apps/web/src/app/api/admin/fix-driver-audio/route.ts
  apps/web/src/app/api/admin/metrics/availability/route.ts
  apps/web/src/app/api/admin/orders/[code]/fix-coordinates/route.ts
  apps/web/src/app/api/admin/orders/pending/route.ts
  apps/web/src/app/api/admin/routes/[id]/edit/route.ts
  apps/web/src/app/api/admin/routes/active/route.ts
  apps/web/src/app/api/admin/routes/create/route.ts
  apps/web/src/app/api/admin/routes/suggested/route.ts
  apps/web/src/app/api/admin/routing/cron/route.ts
  apps/web/src/app/api/admin/tracking-diagnostics/route.ts
  apps/web/src/lib/api/admin-auth.ts
  scripts/bulk-add-auth.sh
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: integrate PricingCard component with loading states and price comparison (Phase 1 Complete)
  FINAL_COMPREHENSIVE_SUMMARY.md
  apps/web/src/app/booking-luxury/components/PricingCard.tsx
  apps/web/src/app/booking-luxury/components/WhereAndWhatStep.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Phase 2 - Real-time Dynamic Pricing Multipliers & Confidence Score ✅
  PHASE_2_DYNAMIC_PRICING_COMPLETE.md
  apps/web/src/app/api/pricing/comprehensive/route.ts
  apps/web/src/app/booking-luxury/components/PriceBreakdown.tsx
  apps/web/src/lib/pricing/comprehensive-schemas.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: resolve support page timeout by forcing dynamic rendering - Apply same fix from fix/prisma-driver-queries branch to resolve Icon component serialization issue during static page generation
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/support/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: update admin routes iOS integration, enhance driver app UI components, update deployment and testing documentation
  APPLE_STORE_SUBMISSION_CHECKLIST.md
  DEPLOYMENT_GUIDE.md
  PRODUCTION_CHECKLIST.md
  README.md
  TESTING_GUIDE.md
  add-column-prod.cjs
  add-column-to-prod.cjs
  apps/web/QA_ACCEPTANCE_README.md
  apps/web/UK_LOCATION_PAGES_README.md
  apps/web/src/app/api/admin/routes/[id]/reassign/route.ts
  check-route-driverId.js
  create-test-account.js
  docs/QUICK_REFERENCE_GUIDE.md
  docs/README.md
  fix-route-column.cjs
  mobile/expo-driver-app/IOS_BUILD_README.md
  mobile/expo-driver-app/IOS_BUILD_SETUP_GUIDE.md
  mobile/expo-driver-app/IOS_SETUP_ARABIC_SUMMARY.md
  mobile/expo-driver-app/IOS_SETUP_COMPLETE_SUMMARY.md
  mobile/expo-driver-app/QUICK_BUILD_COMMANDS.md
  mobile/expo-driver-app/README.md
  mobile/expo-driver-app/appstore-assets/README.md
  mobile/expo-driver-app/ios-build-setup.ps1
  mobile/expo-driver-app/ios-build-setup.sh
  mobile/expo-driver-app/src/components/common/Badge.tsx
  mobile/expo-driver-app/src/components/common/Button.tsx
  mobile/expo-driver-app/src/components/common/Card.tsx
  mobile/expo-driver-app/src/components/common/EmptyState.tsx
  mobile/expo-driver-app/src/styles/theme.ts
  mobile/ios-driver-app/README.md
  mobile/ios-driver-app/UPDATE_AND_DEPLOY_GUIDE.md
  package.json
  quick-create-account.js
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Add AI Estimate modal with DeepSeek integration
  apps/web/src/app/api/ai/suggestions/route.ts
  apps/web/src/app/booking-luxury/components/WhereAndWhatStep.tsx
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Implement missing features from verification report
  apps/web/package.json
  apps/web/src/app/api/driver/routes/[id]/accept/route.ts
  apps/web/src/app/api/driver/routes/[id]/decline/route.ts
  apps/web/src/components/admin/EnhancedAdminRoutesDashboard.tsx
  apps/web/src/components/booking/ViewItemsModal.tsx
  apps/web/src/lib/bearer-auth.ts
  apps/web/src/lib/items/fuzzy-search.ts
  apps/web/src/lib/items/popular-items.ts
  packages/shared/prisma/schema.prisma
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Replace OpenAI with DeepSeek API and add smart route generation
  apps/web/src/app/api/admin/routes/smart-generate/route.ts
  apps/web/src/app/api/ai/suggestions/route.ts
  ios-integration-report.md
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Fix session.user.id type casting in reassign route endpoint
  apps/web/src/app/api/admin/routes/[id]/reassign/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Fix driver ID mapping in admin routes API - use driver.id instead of driver.userId
  apps/web/src/app/api/admin/routes/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Fix driver ID mapping in multi-drop route and analytics service
  apps/web/src/app/api/admin/routes/multi-drop/route.ts
  apps/web/src/lib/services/analytics-service-v2.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add comprehensive final fix report
  DRIVER_ID_FIX_COMPLETE.md
  FINAL_FIX_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  REASSIGN_DRIVER_FIX_REPORT.md
  ROUTE_ACTIONS_TEST_REPORT.md
  apps/web/scripts/create-admin-user.ts
  apps/web/src/app/api/driver/routes/[id]/accept/route.ts
  typecheck-output.txt
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Add missing admin pages (Route Details, Driver Schedule, Driver Earnings)
  apps/web/src/app/admin/drivers/[id]/earnings/page.tsx
  apps/web/src/app/admin/drivers/[id]/schedule/page.tsx
  apps/web/src/app/admin/routes/[id]/page.tsx
  apps/web/src/app/api/admin/drivers/[id]/earnings/route.ts
  apps/web/src/app/api/admin/drivers/[id]/schedule/route.ts
  apps/web/src/app/api/admin/routes/[id]/details/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Remove sonner dependency from new admin pages
  apps/web/src/app/admin/drivers/[id]/earnings/page.tsx
  apps/web/src/app/admin/drivers/[id]/schedule/page.tsx
  apps/web/src/app/admin/routes/[id]/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Fix prisma imports in new API endpoints
  apps/web/src/app/api/admin/drivers/[id]/earnings/route.ts
  apps/web/src/app/api/admin/drivers/[id]/schedule/route.ts
  apps/web/src/app/api/admin/routes/[id]/details/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Use prisma directly instead of withPrisma wrapper
  apps/web/src/app/api/admin/drivers/[id]/earnings/route.ts
  apps/web/src/app/api/admin/drivers/[id]/schedule/route.ts
  apps/web/src/app/api/admin/routes/[id]/details/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check
