Repository speedy-van/sv: changes, and which pre-commit hooks are due for each by the changed paths.
All: broken-link-check, lighthouse-check, schema-validation, seo-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  - repo: local
    hooks:
      - id: broken-link-check
        name: Check for broken links
        entry: node scripts/check-broken-links.js
        language: node
        files: \.(tsx?|jsx?|md|html)$
        pass_filenames: false
        args: [apps/web]
        
      - id: lighthouse-check
        name: Lighthouse performance check
        entry: bash -c 'cd apps/web && npm run performance:lighthouse'
        language: system
        files: \.(tsx?|jsx?|css|scss)$
        pass_filenames: false
        stages: [pre-push]
        
      - id: schema-validation
        name: Validate JSON-LD schemas
        entry: bash -c 'cd apps/web && npm run test:schema'
        language: system
        files: \.(tsx?|jsx?)$
        pass_filenames: false
        
      - id: seo-check
        name: SEO validation check
        entry: bash -c 'cd apps/web && npm run seo-check'
        language: system
        files: \.(tsx?|jsx?)$
        pass_filenames: false

Add driver iOS app implementation summary
  DRIVER_IOS_APP_SUMMARY.md
Due: broken-link-check

Fix node-cron TypeScript errors and build issues
  .expo/devices.json
  .expo/settings.json
  ASSIGNMENT_MIGRATION_GUIDE.md
  App.css
  App.jsx
  apps/web/package.json
  apps/web/public/sitemap-0.xml
  apps/web/src/lib/cron/assignment-expiry.ts
  apps/web/src/lib/cron/auto-route-creation.ts
  get-test-data.ps1
  index.html
  mobile/driver-app/expo-log.txt
  mobile/driver-app/package-lock.json
  mobile/driver-app/package.json
  pnpm-lock.yaml
  test-reassign-curl.sh
  test-reassign.ps1
  tsconfig.json
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Update driver app configuration and dependencies after successful build
  apps/web/public/sitemap-0.xml
  mobile/driver-app/.easignore
  mobile/driver-app/.expo-doctor-ignore
  mobile/driver-app/.expo-doctor.config.js
  mobile/driver-app/.nvmrc
  mobile/driver-app/DOCTOR_STATUS.md
  mobile/driver-app/app.json
  mobile/driver-app/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat(seo): Implement comprehensive SEO improvements
  SEO_IMPROVEMENTS_APPLIED.md
  apps/web/src/app/blog/moving-to-london-guide/page.tsx
  apps/web/src/app/blog/page.tsx
  apps/web/src/app/blog/professional-packing-tips/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/Schema/ArticleSchema.tsx
  apps/web/src/components/Schema/BreadcrumbSchema.tsx
  apps/web/src/components/Schema/EnhancedFAQSchema.tsx
  apps/web/src/components/Schema/ReviewSchema.tsx
  apps/web/src/components/StructuredData.tsx
  docs/seo-implementation-plan.md
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix(seo): Add blog posts to sitemap and fix domain URLs
  ASSIGNMENT_MIGRATION_GUIDE.md
  apps/web/next-sitemap.config.js
  apps/web/public/robots.txt
  apps/web/public/sitemap-0.xml
  apps/web/public/sitemap.xml
  get-test-data.ps1
  mobile/driver-app/.nvmrc
  test-reassign-curl.sh
  test-reassign.ps1
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Update sitemap to use production domain instead of localhost
  apps/web/public/robots.txt
  apps/web/public/sitemap-0.xml
  apps/web/public/sitemap.xml
Due: none

feat: Lighthouse optimization to achieve 100/100 scores
  apps/web/next.config.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/hooks/useVisitorTracking.ts
  apps/web/src/lib/logger.ts
  apps/web/src/middleware.ts
  apps/web/src/styles/globals.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add Lighthouse optimization summary documentation
  LIGHTHOUSE_OPTIMIZATION_SUMMARY.md
Due: broken-link-check

feat: Complete email system migration from ZeptoMail to Resend
  ASSIGNMENT_MIGRATION_GUIDE.md
  DEPLOYMENT_QUICKSTART.md
  EMAIL_TEMPLATES_VERIFICATION_REPORT.md
  FINAL_VERIFICATION_REPORT.md
  PRODUCTION_CHECKLIST.md
  TRUSTPILOT_FEEDBACK_IMPLEMENTATION_SUMMARY.md
  ZEPTOMAIL_REMOVAL_COMPLETE.md
  apps/web/EMAIL_DUPLICATION_FIX_SUMMARY.md
  apps/web/PAYMENT_SUCCESS_FLOW_SUMMARY.md
  apps/web/public/robots.txt
  apps/web/public/sitemap-0.xml
  apps/web/public/sitemap.xml
  apps/web/src/app/api/admin/drivers/applications/[id]/approve/route.ts
  apps/web/src/app/api/admin/drivers/applications/[id]/reject/route.ts
  apps/web/src/app/api/debug/email-test/route.ts
  apps/web/src/app/api/email/trustpilot-feedback/route.ts
  apps/web/src/config/env.ts
  apps/web/src/lib/INTEGRATION_README.md
  apps/web/src/lib/email/UnifiedEmailService.ts
  apps/web/src/lib/email/trustpilot-helper.ts
  apps/web/src/lib/orchestration/RouteManager.ts
  env.example
  get-test-data.ps1
  improve-email-deliverability.js
  render.yaml
  test-reassign-curl.sh
  test-reassign.ps1
  verify-domain-authentication.md
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Update Voodoo SMS to use official REST API with Bearer authentication
  apps/web/src/lib/sms/VoodooSMSService.ts
  test-voodoo-corrected.js
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Update SMS service integration and admin improvements
  ASSIGNMENT_MIGRATION_GUIDE.md
  __tests__/smart-clustering.test.ts
  __tests__/ultra-smart-system.test.ts
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/app/admin/settings/sms/page.tsx
  apps/web/src/app/api/admin/orders/[code]/assign-driver/route.ts
  apps/web/src/app/api/admin/orders/[code]/send-confirmation/route.ts
  apps/web/src/app/api/admin/orders/bulk/route.ts
  apps/web/src/app/api/admin/routes/bulk/route.ts
  apps/web/src/app/api/admin/sms/balance/route.ts
  apps/web/src/app/api/driver/applications/route.ts
  apps/web/src/app/api/driver/apply/route.ts
  apps/web/src/app/booking-luxury/success/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/ServiceMapSection.tsx
  apps/web/src/lib/orchestration/RouteManager.ts
  apps/web/src/lib/sms/VoodooSMSService.ts
  get-test-data.ps1
  test-reassign-curl.sh
  test-reassign.ps1
  test-voodoo-final.js
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: SMS service improvements - singleton pattern and duplicate prevention
  apps/web/src/app/api/admin/orders/[code]/assign-driver/route.ts
  apps/web/src/app/api/admin/orders/[code]/send-confirmation/route.ts
  apps/web/src/app/api/admin/routes/bulk/route.ts
  apps/web/src/app/api/driver/applications/route.ts
  apps/web/src/app/api/driver/apply/route.ts
  apps/web/src/lib/orchestration/RouteManager.ts
  apps/web/src/lib/sms/VoodooSMSService.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Advanced tax system with AI, HMRC integration, and site data sync
  .env.production
  apps/web/package.json
  apps/web/src/app/api/admin/tax/dashboard/route.ts
  apps/web/src/app/api/admin/tax/vat-returns/route.ts
  apps/web/src/lib/tax/ai-tax-analyzer.ts
  apps/web/src/lib/tax/site-integration.ts
  apps/web/src/lib/tax/validation-service.ts
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix TypeScript errors in tax site integration and build issues
  ASSIGNMENT_MIGRATION_GUIDE.md
  apps/web/public/sitemap-0.xml
  apps/web/src/lib/tax/site-integration.ts
  get-test-data.ps1
  test-reassign-curl.sh
  test-reassign.ps1
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Redesign Footer with professional dark theme and improved UX
  apps/web/public/sitemap-0.xml
  apps/web/src/components/site/Footer.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add neon blue borders and white light animations to homepage cards and hero button
  .env.production
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/HomePageContent.tsx
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/components/Hero.tsx
  apps/web/src/components/ServiceMapSection.tsx
  apps/web/src/components/site/HomeFooter.tsx
  apps/web/src/styles/globals.css
  apps/web/src/styles/responsive-fixes.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Update pnpm-lock.yaml after removing date-fns dependency
  pnpm-lock.yaml
Due: none

fix: Mobile app TypeScript errors and production readiness
  mobile/driver-app/PRODUCTION_READINESS_CHECKLIST.md
  mobile/driver-app/app/profile/personal-info.tsx
  mobile/driver-app/app/support/chat.tsx
  mobile/driver-app/app/tabs/dashboard.tsx
  mobile/driver-app/contexts/JobAssignmentContext.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Configure production API URL for mobile apps
  mobile/driver-app/PRODUCTION_READINESS_CHECKLIST.md
  mobile/driver-app/services/api.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Resolve expo doctor issues and optimize EAS builds
  mobile/driver-app/.easignore
  mobile/driver-app/package.json
  pnpm-lock.yaml
Due: none

chore: update iOS app to v1.0.1 (build 50) - production ready with improved UI/UX and fixed version numbering
  mobile/driver-app/app.json
  mobile/driver-app/eas.json
Due: none

fix: hardcode production API URL in app.json to fix TestFlight login issue - v1.0.1 (build 51)
  mobile/driver-app/app.json
  mobile/driver-app/services/api.ts
  mobile/driver-app/services/pusher.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: add HSTS and security headers + middleware to fix iOS TLS handshake failure
  SSL_TLS_FIX_GUIDE.md
  apps/web/next.config.mjs
  apps/web/src/middleware.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: correct production API URL from api.speedy-van.co.uk to speedy-van.co.uk - v1.0.1 (build 52)
  mobile/driver-app/app.json
  mobile/driver-app/services/api.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

chore: update expo packages to SDK 54 required versions (expo@54.0.21, expo-router@6.0.14)
  mobile/driver-app/package.json
  pnpm-lock.yaml
Due: none

feat: add comprehensive careers page with admin panel
  apps/web/package.json
  apps/web/src/app/(admin)/admin/careers/page.tsx
  apps/web/src/app/(public)/careers/page.tsx
  apps/web/src/app/api/admin/careers/[id]/approve/route.ts
  apps/web/src/app/api/admin/careers/[id]/reject/route.ts
  apps/web/src/app/api/admin/careers/route.ts
  apps/web/src/app/api/careers/apply/route.ts
  apps/web/src/components/site/HomeFooter.tsx
  apps/web/src/lib/contractGenerator.ts
  packages/shared/prisma/schema.prisma
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: add missing email.ts utility and nodemailer dependency for careers functionality
  apps/web/package.json
  apps/web/src/lib/email.ts
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: replace nodemailer with Resend API for email functionality
  apps/web/package.json
  apps/web/src/lib/email.ts
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: add Career Applications card to admin settings page
  apps/web/src/app/admin/settings/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: add detailed logging and error handling for careers API
  apps/web/src/app/admin/careers/page.tsx
  apps/web/src/app/api/admin/careers/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

style: apply dark theme to careers admin page - remove all white backgrounds
  apps/web/src/app/admin/careers/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: correct JSX structure in careers admin page - fix Container closing tag position
  apps/web/src/app/admin/careers/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: make careers page mobile-friendly with responsive design
  apps/web/src/app/(public)/careers/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: add missing useEffect import in careers page
  apps/web/src/app/(public)/careers/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check
