Repository speedy-van/sv: changes, and which pre-commit hooks are due for each by the changed paths.
All: broken-link-check, lighthouse-check, schema-validation, seo-check

broken-link-check:
  name: Check for broken links
  entry: node scripts/check-broken-links.js
  language: node
  pass_filenames: false
  args:
  - apps/web

lighthouse-check:
  name: Lighthouse performance check
  entry: bash -c 'cd apps/web && npm run performance:lighthouse'
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-validation:
  name: Validate JSON-LD schemas
  entry: bash -c 'cd apps/web && npm run test:schema'
  language: system
  pass_filenames: false

seo-check:
  name: SEO validation check
  entry: bash -c 'cd apps/web && npm run seo-check'
  language: system
  pass_filenames: false

Complete critical fixes: route validation, multi-drop bonus, earnings preview, real-time sync, mobile app updates
  SYSTEM_VERIFICATION_REPORT.md
  apps/web/src/lib/services/intelligent-route-optimizer.ts
  mobile/expo-driver-app/src/types/index.ts
  mobile/ios-driver-app/Views/Routes/RouteDetailView.swift
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Comprehensive SEO optimization with landing pages, meta tags, and technical SEO improvements
  FINAL_ARABIC_SUMMARY.md
  SEO_KEYWORD_STRATEGY.md
  apps/web/public/robots.txt
  apps/web/src/app/(public)/page.tsx
  apps/web/src/app/affordable-man-and-van/metadata.ts
  apps/web/src/app/affordable-man-and-van/page.tsx
  apps/web/src/app/furniture-movers/metadata.ts
  apps/web/src/app/furniture-movers/page.tsx
  apps/web/src/app/furniture-removal/metadata.ts
  apps/web/src/app/furniture-removal/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/man-and-van-london/metadata.ts
  apps/web/src/app/man-and-van-london/page.tsx
  apps/web/src/app/services/furniture/metadata.ts
  apps/web/src/app/services/house-moving/metadata.ts
  apps/web/src/app/services/office/metadata.ts
  apps/web/src/app/services/student/metadata.ts
  apps/web/src/app/sitemap.xml/route.ts
  apps/web/src/app/van-hire/metadata.ts
  apps/web/src/app/van-hire/page.tsx
  apps/web/src/components/Schema/ServicePageSchema.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

docs: Add Arabic SEO improvement report
  SEO_IMPROVEMENT_REPORT_ARABIC.md
Due: broken-link-check

feat: Configure iOS app for App Store submission
  mobile/expo-driver-app/IOS_BUILD_FROM_WINDOWS_GUIDE.md
  mobile/expo-driver-app/app.json
  mobile/expo-driver-app/eas.json
Due: broken-link-check

Fix: Update production API URL to correct domain
  mobile/expo-driver-app/eas.json
  mobile/expo-driver-app/src/config/api.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Remove blog pages causing build errors on Render
  apps/web/src/app/blog/cheap-man-and-van-near-me/page.tsx
  apps/web/src/app/blog/same-day-man-and-van/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Restore SEO pages and fix build issues - Fix next-sitemap.config.js service reference error - Convert student-moving-service to client component - Keep all SEO pages but fix syntax issues
  apps/web/next-sitemap.config.js
  apps/web/src/app/(public)/areas/[slug]/page.tsx
  apps/web/src/app/(public)/areas/page.tsx
  apps/web/src/app/affordable-man-and-van/metadata.ts
  apps/web/src/app/affordable-man-and-van/page.tsx
  apps/web/src/app/blog/cheap-man-and-van-near-me/page.tsx
  apps/web/src/app/blog/same-day-man-and-van/page.tsx
  apps/web/src/app/blog/student-moving-service/metadata.ts
  apps/web/src/app/blog/student-moving-service/page.tsx
  apps/web/src/app/furniture-movers/metadata.ts
  apps/web/src/app/furniture-movers/page.tsx
  apps/web/src/app/furniture-removal/metadata.ts
  apps/web/src/app/furniture-removal/page.tsx
  apps/web/src/app/man-and-van-london/metadata.ts
  apps/web/src/app/man-and-van-london/page.tsx
  apps/web/src/app/van-hire/metadata.ts
  apps/web/src/app/van-hire/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: update Node.js to 20.18.0 to fix corepack signature issue
  .node-version
  Dockerfile
  apps/web/package.json
  apps/web/public/sitemap-0.xml
  package.json
  render.yaml
Due: none

Fix: Update Node.js to 22.13.0 and bypass corepack keyid verification issue
  .node-version
  render.yaml
Due: none

Fix: iOS driver app sign-in API response structure
  apps/web/scripts/create-ios-test-driver.ts
  apps/web/src/app/api/driver/auth/login/route.ts
  apps/web/src/app/api/driver/session/route.ts
  mobile/ios-driver-app/Tests/AuthSignInTest.swift
  test-ios-signin.cjs
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Update Stripe integration and fix payment flow issues
  apps/web/public/sitemap-0.xml
  apps/web/src/app/api/booking-luxury/route.ts
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep.tsx
  mobile/expo-driver-app/IOS_BUILD_README.md
  mobile/expo-driver-app/IOS_BUILD_SETUP_GUIDE.md
  mobile/expo-driver-app/IOS_SETUP_ARABIC_SUMMARY.md
  mobile/expo-driver-app/IOS_SETUP_COMPLETE_SUMMARY.md
  mobile/expo-driver-app/QUICK_BUILD_COMMANDS.md
  mobile/expo-driver-app/eas.json
  mobile/expo-driver-app/ios-build-setup.ps1
  mobile/expo-driver-app/ios-build-setup.sh
  mobile/expo-driver-app/src/components/common/Badge.tsx
  mobile/expo-driver-app/src/components/common/Button.tsx
  mobile/expo-driver-app/src/components/common/Card.tsx
  mobile/expo-driver-app/src/components/common/EmptyState.tsx
  mobile/expo-driver-app/src/styles/theme.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Update build files and mobile app assets
  .easignore
  app.json
  apps/web/create-apple-demo-account.cjs
  apps/web/public/sitemap-0.xml
  apps/web/scripts/create-apple-test-driver.ts
  check-user.js
  create-apple-demo-account.cjs
  create-apple-test-driver.mjs
  create-test-account.js
  create-test-driver.cjs
  create-test-sql.js
  create-test-user.mjs
  mobile/expo-driver-app/.easignore
  mobile/expo-driver-app/APPLE_REVIEW_READY.md
  mobile/expo-driver-app/ICON_SETUP_GUIDE.md
  mobile/expo-driver-app/assets/adaptive-icon-source.svg
  mobile/expo-driver-app/assets/adaptive-icon.png
  mobile/expo-driver-app/assets/icon-source.svg
  mobile/expo-driver-app/assets/icon.png
  mobile/expo-driver-app/assets/splash-source.svg
  mobile/expo-driver-app/assets/splash.png
  mobile/expo-driver-app/convert-icons.js
  mobile/expo-driver-app/package.json
  mobile/expo-driver-app/src/context/NotificationContext.tsx
  mobile/expo-driver-app/src/screens/EditProfileScreen.tsx
  pnpm-lock.yaml
  quick-create-account.js
  setup-test-account.js
  test-db-connection.js
  test-driver-settings-fix.js
  test-earnings-api.cjs
  test-prisma-relationships-fix.js
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix iOS production build API URL - point to Render backend
  mobile/expo-driver-app/eas.json
Due: none

Fix iOS driver app login issues: audit logging, Pusher config, and API endpoints
  IOS_LOGIN_FIX_REPORT.md
  apps/web/src/app/api/driver/jobs/[id]/complete/route.ts
  apps/web/src/lib/audit.ts
  apps/web/src/lib/realtime/pusher-config.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Revert route.ts changes that caused build failure
  apps/web/src/app/api/driver/jobs/[id]/complete/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add script to create Apple test driver account
  apps/web/package.json
Due: none

Fix: Change Driver to driver in login route (Prisma field name)
  apps/web/src/app/api/driver/auth/login/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Update API URL to https://speedy-van.co.uk (remove api subdomain)
  mobile/ios-driver-app/Config/AppConfig.swift
  mobile/ios-driver-app/UPDATE_AND_DEPLOY_GUIDE.md
Due: broken-link-check

Fix iOS production API URL - use correct Render backend
  mobile/ios-driver-app/Config/AppConfig.swift
Due: none

Update apiBaseURL to https://speedy-van.co.uk
  mobile/ios-driver-app/Config/AppConfig.swift
Due: none

Add missing driver-pricing-engine.ts and fix bearer-auth User.driver relation
  apps/web/src/lib/bearer-auth.ts
  apps/web/src/lib/pricing/driver-pricing-engine.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix Profile screen: Make all fields editable with proper state management
  mobile/ios-driver-app/Views/Settings/SettingsView.swift
Due: none

Fix Notifications tab: Make all toggles editable with proper state management
  mobile/ios-driver-app/Views/Settings/SettingsView.swift
Due: none

Major iOS app enhancement: API endpoints, luxury UI/UX, and professional components
  mobile/ios-driver-app/Components/LuxuryComponents.swift
  mobile/ios-driver-app/Config/AppConfig.swift
  mobile/ios-driver-app/Extensions/Color+Brand.swift
  mobile/ios-driver-app/Extensions/Font+Brand.swift
  mobile/ios-driver-app/Services/EarningsService.swift
  mobile/ios-driver-app/Services/JobService.swift
  mobile/ios-driver-app/Services/RouteService.swift
  mobile/ios-driver-app/Services/ScheduleService.swift
  mobile/ios-driver-app/Services/SettingsService.swift
Due: none

Fix production API URL in eas.json to use speedy-van.co.uk
  mobile/expo-driver-app/eas.json
Due: none

Add luxury UI/UX: Toast notifications, Shimmer loading, and haptic feedback
  mobile/expo-driver-app/App.tsx
  mobile/expo-driver-app/package.json
  mobile/expo-driver-app/src/components/ui/ShimmerLoader.tsx
  mobile/expo-driver-app/src/components/ui/ToastConfig.tsx
  mobile/expo-driver-app/src/screens/ProfileScreen.tsx
  mobile/expo-driver-app/src/utils/toast.ts
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix JobCompletionScreen imports
  mobile/expo-driver-app/src/screens/JobCompletionScreen.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix NotificationsScreen for Apple App Store approval
  mobile/expo-driver-app/src/navigation/MainTabNavigator.tsx
  mobile/expo-driver-app/src/screens/NotificationsScreen.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Admin dashboard Prisma errors and update theme to match driver portal
  apps/web/src/app/admin/page.tsx
  apps/web/src/app/api/admin/dashboard/route.ts
  apps/web/src/app/api/admin/orders/route.ts
  apps/web/src/app/driver-application/page.tsx
  apps/web/src/theme/mobile-theme.ts
  mobile/expo-driver-app/src/screens/DashboardScreen.tsx
  mobile/expo-driver-app/src/theme/colors.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Update app icon to blue neon design
  mobile/expo-driver-app/assets/adaptive-icon.png
  mobile/expo-driver-app/assets/icon.png
Due: none

Add blue neon theme and enhanced UI components
  mobile/expo-driver-app/src/components/ui/EnhancedNeonCard.tsx
  mobile/expo-driver-app/src/config/theme.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add author information: Ahmad Alwakai
  mobile/expo-driver-app/package.json
Due: none

Improve login screen UX: remove 'Become a Driver' link and add blue neon theme
  mobile/expo-driver-app/src/screens/LoginScreen.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Configure app icon paths in app.json
  mobile/expo-driver-app/app.json
Due: none

Add app icon asset for expo driver app
  mobile/expo-driver-app/icon.png
Due: none

Fix: Remove licenseNumber field from driver script (field does not exist in schema)
  apps/web/scripts/create-apple-review-driver.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Replace next-auth/jwt with jsonwebtoken for driver login
  apps/web/package.json
  apps/web/src/app/api/driver/auth/login/route.ts
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Path conditions:
  broken-link-check: any of: \.(tsx?|jsx?|md|html)$
  lighthouse-check: any of: \.(tsx?|jsx?|css|scss)$
  schema-validation: any of: \.(tsx?|jsx?)$
  seo-check: any of: \.(tsx?|jsx?)$
