Repository speedy-van/sv: changes, and which pre-commit hooks are due for each by the changed paths.
All: broken-link-check, lighthouse-check, schema-validation, seo-check

broken-link-check:
  name: Check for broken links
  entry: node scripts/check-broken-links.js
  language: node
  pass_filenames: false
  args:
  - apps/web

lighthouse-check:
  name: Lighthouse performance check
  entry: bash -c 'cd apps/web && npm run performance:lighthouse'
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-validation:
  name: Validate JSON-LD schemas
  entry: bash -c 'cd apps/web && npm run test:schema'
  language: system
  pass_filenames: false

seo-check:
  name: SEO validation check
  entry: bash -c 'cd apps/web && npm run seo-check'
  language: system
  pass_filenames: false

docs: Add comprehensive fixes summary
  CHATBOT_AND_PRICING_FIXES.md
Due: broken-link-check

fix: Add missing closing brace in SpeedyAIBot quote summary
  apps/web/src/components/site/SpeedyAIBot.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Google indexing issue - Remove text before HTML & enhance booking system
  AI_BOOKING_AGENT_README.md
  apps/web/next-sitemap.config.js
  apps/web/public/robots.txt
  apps/web/public/sitemap-0.xml
  apps/web/public/sitemap.xml
  apps/web/src/app/api/ai/chat/route.ts
  apps/web/src/app/api/ai/create-booking/route.ts
  apps/web/src/app/api/bookings/[id]/route.ts
  apps/web/src/app/api/webhooks/stripe/route.ts
  apps/web/src/app/booking-luxury/components/WhereAndWhatStep.tsx
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep_Simple.tsx
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/app/booking/cancelled/page.tsx
  apps/web/src/app/booking/success/page.tsx
  apps/web/src/components/address/UKAddressAutocomplete.tsx
  apps/web/src/components/site/SpeedyAIBot.tsx
  apps/web/src/components/site/SpeedyAIBotMobile.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Replace window.open with proper tel: links for call buttons
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/components/mobile/MobileHeader.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: Add Google Ads call conversion tracking and floating sticky call button
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/mobile/FloatingCallButton.tsx
  apps/web/src/components/mobile/MobileHeader.tsx
  apps/web/src/lib/utils/google-ads-tracking.ts
  apps/web/src/types/gtag.d.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix TypeScript errors for production build
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/components/analytics/GoogleAnalytics.tsx
  apps/web/src/lib/analytics.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix floating call button overlap with chatbot icon
  apps/web/public/sitemap-0.xml
  apps/web/src/components/mobile/FloatingCallButton.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Add Google Ads conversion tracking to booking success page
  GOOGLE_ADS_FIX_DOCUMENTATION.md
  apps/web/src/app/booking/success/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add mobile-friendly call button to booking-luxury header
  apps/web/src/app/booking-luxury/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix booking-luxury header layout: Move back button inline with Speedy Van brand
  apps/web/public/sitemap-0.xml
  apps/web/src/app/booking-luxury/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix Google Ads conversion tracking: Update incorrect IDs and labels
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/lib/utils/google-ads-tracking.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix e2e global-setup TypeScript errors - Add type assertions for Prisma create operations with default fields
  apps/web/e2e/global-setup.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: remove invalid customer relation from Booking queries
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/dispatch/page.tsx
  apps/web/src/app/admin/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: correct Prisma types in test files - use customerId instead of customer relation
  apps/web/e2e/global-setup.ts
  apps/web/e2e/global-teardown.ts
  apps/web/scripts/create-test-job.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Add type assertions to resolve Prisma type errors in seed and test files
  apps/web/e2e/global-setup.ts
  apps/web/prisma/seed.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Add type assertions to all script files with Prisma create operations
  apps/web/scripts/add-superadmin.ts
  apps/web/scripts/create-admin-user.ts
  apps/web/scripts/create-superadmin.ts
  apps/web/scripts/create-test-addresses-contacts.ts
  apps/web/scripts/create-test-content.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Add type assertions to remaining test and script files
  apps/web/e2e/global-setup.ts
  apps/web/scripts/create-test-content.ts
  apps/web/scripts/create-test-customers.ts
  apps/web/scripts/create-test-driver-application.ts
  apps/web/scripts/create-test-driver.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Resolve final 10 TypeScript errors in test scripts
  apps/web/scripts/create-test-driver.ts
  apps/web/scripts/create-test-job.ts
  apps/web/scripts/create-test-notifications.ts
  apps/web/scripts/create-test-ratings.ts
  apps/web/scripts/test-auth-features.ts
  apps/web/scripts/test-password-reset.ts
  apps/web/scripts/update-test-driver-status.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Revert Driver to driver - correct Prisma relation name is lowercase
  apps/web/scripts/create-test-driver.ts
  apps/web/scripts/update-test-driver-status.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Resolve remaining TypeScript errors in test scripts
  apps/web/scripts/create-test-jobs.ts
  apps/web/scripts/create-test-ratings.ts
  apps/web/scripts/test-auth-features.ts
  apps/web/scripts/test-dashboard-api.ts
  apps/web/scripts/test-navigation.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Correct Prisma relation names - Driver (capital) in User, booking (lowercase) in Assignment
  apps/web/scripts/create-test-driver.ts
  apps/web/scripts/test-navigation.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: Use correct Prisma relation names - Booking (capital) and driver (lowercase) in Assignment
  apps/web/scripts/create-test-driver.ts
  apps/web/scripts/test-navigation.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: generate Prisma clients for both packages/shared and apps/web in CI workflows
  .github/workflows/ci.yml
  .github/workflows/pricing-guards.yml
Due: none

fix: use only apps/web Prisma schema (has @default for id and updatedAt)
  .github/workflows/ci.yml
  .github/workflows/pricing-guards.yml
Due: none

fix: clean Prisma cache before generation to ensure fresh types
  .github/workflows/ci.yml
  .github/workflows/pricing-guards.yml
Due: none

chore: remove dist from repo to fix Pricing System Guard false-positives
  .gitignore
Due: none

chore: force cache bust for CI
  .cache-bust
Due: none

fix(prisma): remove custom output and unify PrismaClient generation
  apps/web/prisma/schema.prisma
  packages/shared/prisma/schema.prisma
Due: none

ci(prisma): generate client in workflows
  .github/workflows/ci.yml
  .github/workflows/pricing-guards.yml
Due: none

ci(prisma): rely on postinstall generation
  .github/workflows/ci.yml
  .github/workflows/pricing-guards.yml
Due: none

fix(scripts): correct Prisma relation names in test scripts
  apps/web/scripts/test-dashboard-api.ts
  apps/web/scripts/test-navigation.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix(api): replace getPrismaClient with prisma in visitors/track API
  apps/web/src/app/api/visitors/track/route.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: date/time picker rendering & add Google Ads conversion tracking
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/app/booking-luxury/success/page.tsx
  apps/web/src/styles/globals.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: eliminate Chakra CSS conflicts for date/time inputs
  MESSAGE_TO_DEVELOPER_AR.md
  apps/web/fix-prisma-types.cjs
  apps/web/fix-remaining-types.cjs
  apps/web/fix-surgical.cjs
  apps/web/public/sitemap-0.xml
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/ChakraProviders.tsx
  apps/web/src/server/ai/MemorySystem.ts
  apps/web/src/styles/globals.css
  fix-schema-relations.cjs
  fix-schema-relations.js
  fix-surgical.cjs
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: enhance SEO metadata for man-and-van pages
  apps/web/src/app/man-and-van/[slug]/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: handle PORT env var with fallback for CI/CD environments
  apps/web/package.json
Due: none

fix: prevent number wrapping in desktop floating button
  apps/web/src/app/booking-luxury/components/RoomBasedInventory.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Path conditions:
  broken-link-check: any of: \.(tsx?|jsx?|md|html)$
  lighthouse-check: any of: \.(tsx?|jsx?|css|scss)$
  schema-validation: any of: \.(tsx?|jsx?)$
  seo-check: any of: \.(tsx?|jsx?)$
