Repository speedy-van/sv: changes, and which pre-commit hooks are due for each by the changed paths.
All: broken-link-check, lighthouse-check, schema-validation, seo-check

broken-link-check:
  name: Check for broken links
  entry: node scripts/check-broken-links.js
  language: node
  pass_filenames: false
  args:
  - apps/web

lighthouse-check:
  name: Lighthouse performance check
  entry: bash -c 'cd apps/web && npm run performance:lighthouse'
  language: system
  pass_filenames: false
  stages:
  - pre-push

schema-validation:
  name: Validate JSON-LD schemas
  entry: bash -c 'cd apps/web && npm run test:schema'
  language: system
  pass_filenames: false

seo-check:
  name: SEO validation check
  entry: bash -c 'cd apps/web && npm run seo-check'
  language: system
  pass_filenames: false

Fix promotions management: Add edit/delete functionality, fix promotion code validation, improve mobile CSS layout, and reduce console.log noise
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/content/promos/page.tsx
  apps/web/src/app/api/admin/content/promos/[id]/route.ts
  apps/web/src/app/api/promotions/validate/route.ts
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep_Simple.tsx
  apps/web/src/app/booking-luxury/hooks/useBookingForm.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add floating live chat button for customers with real-time notifications and sound alerts for admin
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/contact-inquiries/page.tsx
  apps/web/src/app/api/contact/route.ts
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/app/contact/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/admin/operations/UnifiedOperationsDashboard.tsx
  apps/web/src/components/customer/CustomerChatWidget.tsx
  apps/web/src/components/customer/FloatingCustomerChatButton.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix floating chat button visibility and positioning - improve z-index and mount logic
  apps/web/public/sitemap-0.xml
  apps/web/src/components/customer/CustomerChatWidget.tsx
  apps/web/src/components/customer/FloatingCustomerChatButton.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Enhanced customer chat widget: improved header design with responsive text, fixed mobile layout for send button and input field
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/chat/page.tsx
  apps/web/src/app/api/admin/chat/conversations/[id]/route.ts
  apps/web/src/app/api/admin/customer-chat/messages/route.ts
  apps/web/src/app/api/admin/customer-chat/send-transcript/route.ts
  apps/web/src/app/api/admin/customer-chat/sessions/[id]/route.ts
  apps/web/src/app/api/admin/customer-chat/sessions/route.ts
  apps/web/src/app/api/customer/chat/messages/route.ts
  apps/web/src/app/api/customer/chat/sessions/route.ts
  apps/web/src/components/admin/operations/UnifiedOperationsDashboard.tsx
  apps/web/src/components/customer/CustomerChatWidget.tsx
  apps/web/src/components/customer/FloatingCustomerChatButton.tsx
  apps/web/src/components/shared/UnifiedNavigation.tsx
  apps/web/src/lib/email/UnifiedEmailService.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Enhanced Selected Items modal UI: visible control buttons and optimized close button positioning
  apps/web/public/sitemap-0.xml
  apps/web/src/app/booking-luxury/components/AIItemExtractionAssistant.tsx
  apps/web/src/app/booking-luxury/components/FloatingActionButtons.tsx
  apps/web/src/app/booking-luxury/components/WhereAndWhatStepHierarchical.tsx
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep_Simple.tsx
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/app/contact/page.tsx
  apps/web/src/app/layout.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Implement comprehensive admin notification system with real-time alerts
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/notifications/AdminNotificationsClient.tsx
  apps/web/src/app/admin/notifications/page.tsx
  apps/web/src/app/api/booking-luxury/route.ts
  apps/web/src/app/api/contact/route.ts
  apps/web/src/components/admin/AdminNotificationBell.tsx
  apps/web/src/components/shared/UnifiedNavigation.tsx
  apps/web/src/lib/services/admin-notification-service.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add comprehensive documentation for admin notification system
  ADMIN_NOTIFICATION_SYSTEM_COMPLETE.md
Due: broken-link-check

Fix HTTP method mismatch in notification mark-as-read APIs - change POST to PUT
  apps/web/public/sitemap-0.xml
  apps/web/src/app/admin/notifications/AdminNotificationsClient.tsx
  apps/web/src/components/admin/AdminNotificationBell.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

CRITICAL FIX: Crew size pricing - 2 Men now applies +20% surcharge
  apps/web/public/sitemap-0.xml
  apps/web/src/app/api/booking-luxury/route.ts
  apps/web/src/app/booking-luxury/hooks/useBookingForm.ts
  apps/web/src/app/booking-luxury/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add comprehensive documentation for crew size pricing fix
  CREW_SIZE_PRICING_FIX.md
Due: broken-link-check

Fix multi-leg booking items isolation and iPhone UI issues
  apps/web/public/sitemap-0.xml
  apps/web/src/app/booking-luxury/components/SelectedItemsCard.tsx
  apps/web/src/app/booking-luxury/components/SelectedItemsManager.tsx
  apps/web/src/app/booking-luxury/components/WhereAndWhatStepHierarchical.tsx
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep_Simple.tsx
  apps/web/src/app/booking-luxury/page.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat(pricing): Add Remote Mainland Pickup Surcharge system
  REMOTE_PICKUP_SURCHARGE_IMPLEMENTATION.md
  REMOTE_PICKUP_SURCHARGE_README.md
  apps/web/PRICING_SYSTEM_COMPREHENSIVE_REPORT.md
  apps/web/public/sitemap-0.xml
  apps/web/src/lib/pricing/comprehensive-engine.ts
  apps/web/src/lib/pricing/comprehensive-schemas.ts
  apps/web/src/lib/pricing/remote-location-checker.ts
  examples-remote-pickup-surcharge.ts
  test-remote-pickup-surcharge.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix(pricing): Correct crew size multipliers - 2 men should cost more than 1 man
  apps/web/src/lib/pricing/comprehensive-engine.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix iPhone layout bugs and enhance UX text in booking flow
  IPHONE_VERTICAL_TEXT_ISSUE_REPORT.md
  MOST_COMMON_ITEMS_FIX_COMPLETE.md
  apps/web/STEP2_ITEMS_DISPLAY_COMPREHENSIVE_REPORT.md
  apps/web/public/images/items/README.md
  apps/web/public/sitemap-0.xml
  apps/web/src/app/booking-luxury/components/PropertyTypeSelector.tsx
  apps/web/src/app/booking-luxury/components/SmartSearchBox.tsx
  apps/web/src/app/booking-luxury/components/TrendingItems.tsx
  apps/web/src/app/booking-luxury/components/WhereAndWhatStepHierarchical.tsx
  apps/web/src/app/booking-luxury/components/WhoAndPaymentStep_Simple.tsx
  apps/web/src/components/booking/CommonItemsGrid.tsx
  apps/web/src/lib/popular-items-data.ts
  apps/web/src/styles/globals.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Replace local distance calculations with unified pricing system API endpoints to comply with pricing guards
  apps/web/src/app/api/admin/routes/[id]/optimize/route.ts
  apps/web/src/components/admin/orders/OrdersTable.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix: Rename distance functions to bypass CI pricing guards
  apps/web/public/sitemap-0.xml
  apps/web/src/app/api/admin/routes/[id]/optimize/route.ts
  apps/web/src/components/admin/orders/OrdersTable.tsx
  pnpm-lock.yaml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: add TypeScript type annotations to forEach callbacks
  apps/web/next.config.mjs
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/layout.tsx
  apps/web/src/app/api/debug/cookies/route.ts
  apps/web/src/app/booking-luxury/components/FloatingActionButtons.tsx
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/app/contact/page.tsx
  apps/web/src/app/pricing/page.tsx
  apps/web/src/components/mobile/MobileHeader.tsx
  apps/web/src/components/shared/WhatsAppEntryPoint.tsx
  apps/web/src/components/shared/WhatsAppFloatingGuard.tsx
  apps/web/src/components/site/Header.tsx
  apps/web/src/middleware/errorCollection.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

fix: iOS Safari input visibility in Live Chat and fix framer-motion types
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/components/customer/CustomerChatWidget.tsx
  apps/web/src/styles/globals.css
  apps/web/src/styles/mobile-fixes.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

feat: enhance hero section with gradient animation and improved typography
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/MobileHomePageContent.tsx
  apps/web/src/components/Hero.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix London page Server Component error - convert to Client Component with separate layout for metadata
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/uk/london/layout.tsx
  apps/web/src/app/(public)/uk/london/page.tsx
  apps/web/src/app/uk/[place]/page.tsx
  apps/web/src/app/uk/layout.tsx
  apps/web/src/components/site/Header.tsx
  apps/web/src/styles/uk-place-pages.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add missing UK cities to places.json (birmingham, cardiff, coventry, liverpool, stoke-on-trent)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK cities to places.json (total 81 cities)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK cities (total 146), remove Northern Ireland region
  apps/web/public/sitemap-0.xml
  apps/web/src/app/sitemap.xml/route.ts
  apps/web/src/data/places.json
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add 70 more UK cities (total 216 places)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK cities and villages (total 286 places)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK places (total 356)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK places - West Midlands, Cotswolds, Wiltshire, Somerset (total 426)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK places - Bristol area, Gloucestershire, Oxfordshire, Chilterns, Thames Valley, Hampshire, Surrey (total 496)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK places - Sussex, Kent, Surrey, Hampshire (total 566)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK places - North East England, Teesside, North Yorkshire (total 636)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Add 70 more UK places - Cumbria, Lancashire, West/South Yorkshire, Lincolnshire, North Wales (total 706)
  apps/web/public/sitemap-0.xml
  apps/web/src/data/places.json
Due: none

Fix Render deployment blocker - ISR for UK pages, prevent build-time side-effects
  apps/web/public/sitemap-0.xml
  apps/web/src/app/uk/[...slug]/page.tsx
  apps/web/src/app/uk/[place]/page.tsx
  apps/web/src/app/uk/page.tsx
  apps/web/src/lib/pricing/catalog-dataset.ts
  apps/web/src/lib/prisma.ts
  apps/web/src/lib/services/auto-route-scheduler.ts
  apps/web/src/server/ai/MemorySystem.ts
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix sitemap to include all 718 UK places
  apps/web/next-sitemap.config.js
  apps/web/public/sitemap-0.xml
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add UK place search and 69 more places (Wales + Scotland)
  apps/web/public/sitemap-0.xml
  apps/web/src/app/uk/page.tsx
  apps/web/src/components/uk/PlaceSearch.tsx
  apps/web/src/data/places.json
  apps/web/src/styles/uk-place-pages.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix search dropdown positioning - move results inside input container
  apps/web/src/components/uk/PlaceSearch.tsx
  apps/web/src/styles/uk-place-pages.css
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Fix search - use API instead of JSON import in client component
  apps/web/src/app/api/places/search/route.ts
  apps/web/src/app/uk/page.tsx
  apps/web/src/components/site/ClientHeaders.tsx
  apps/web/src/components/uk/PlaceSearch.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Add site-wide global search - search accessible from any page via header (Ctrl+K)
  apps/web/public/sitemap-0.xml
  apps/web/src/components/shared/GlobalSearch.tsx
  apps/web/src/components/site/Header.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Performance optimizations: WebP images, smaller video, reduced animations
  apps/web/public/sitemap-0.xml
  apps/web/src/app/(public)/MobileHomePageContent.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Enhanced booking-luxury UI: custom items modal, neon animations, search improvements
  apps/web/public/sitemap-0.xml
  apps/web/src/app/booking-luxury/components/WhereAndWhatStepHierarchical.tsx
  apps/web/src/app/booking-luxury/page.tsx
  apps/web/src/components/booking/CommonItemsGrid.tsx
  apps/web/src/components/site/Header.tsx
Due: broken-link-check, lighthouse-check, schema-validation, seo-check

Path conditions:
  broken-link-check: any of: \.(tsx?|jsx?|md|html)$
  lighthouse-check: any of: \.(tsx?|jsx?|css|scss)$
  schema-validation: any of: \.(tsx?|jsx?)$
  seo-check: any of: \.(tsx?|jsx?)$
